@media (max-aspect-ratio: 23/9) and (min-aspect-ratio: 15/9){
    #bildmobil {display:none;}
#bild {
    left: 50%;
    transform: translate(-50%, -50%);
    top:57%;
height:75%;

position:fixed;
z-index:-1;
}
h1 {
    z-index:4;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    top:-1%;
    letter-spacing:0.3em;
    font-size:3.5em;
    font-family: arial;
}
h2 {
    font-size:2.4em ;
    text-align:justify;
}
h3 {
    display:none;
}
#text {
position:absolute;
z-index:3;
left:57%;
right:26%;
top:20%;
color:white;
text-overflow:hidden;

}

p1 {
    text-align:justify;
    font-size:1.55em;
    z-index:2;
    font-family:arial;
    letter-spacing: 0.2em;
    word-spacing: 0.3em;

}
#footer {
    display:none;
}
}
@media (min-aspect-ratio: 10/9) and (max-aspect-ratio: 15/9){
    #bildmobil {display:none;}
    #bild {
        left: 50%;
        transform: translate(-50%, -50%);
        top:50%;
        height:60%;
        position:fixed;
        z-index:-1;
        }
        h1 {
            z-index:4;
            position: fixed;
            left: 50%;
            transform: translate(-50%, 0%);
            letter-spacing:0.3em;
            font-size:2.66em;
            font-family: arial;
        }
        h2 {
            font-size:1.9em ;
            text-align:justify;
        }
        h3 {
            display:none;
        }
        #text {
        position:absolute;
        z-index:3;
        left:58%;
        right:20%;
        top:20%;
        color:white;
        text-overflow:hidden;
 
        
        }
        
        p1 {
            text-align:justify;
            font-size:1.55em;
            z-index:2;
            font-family:arial;
            letter-spacing: 0.2em;
            word-spacing: 0.3em;
        
        }
        #footer {
            display:none;
        }
}
@media (max-aspect-ratio: 10/9){
    #bildmobil {display:none;}
    #bild {
       display:none;
        }
        h1 {
            z-index:4;
            position: fixed;
            left: 50%;
            transform: translate(-50%, 0%);
            letter-spacing:0.3em;
            font-size:2em;
            font-family: arial;
            display:none;
        }
        h2 {
            font-size:1.6em ;
            text-align:justify;
        }
        h3 {
            display:none;
        }
        #text {
        position:absolute;
        z-index:3;
        left:8%;
        right:8%;
        top:0%;
        color:black;
        text-overflow:hidden;
        text-align:left;
 
        
        }
        
        p1 {
            text-align:justify;
            font-size:1.50em;
            z-index:2;
            font-family:arial;
            letter-spacing: 0.2em;
            word-spacing: 0.1em;
        }
        #footer {
            width:101%;
            height:6%;
            position:fixed;
            bottom:0%;
            background-color: #EEEEEE;
            left:-1%;
            z-index:5;
            padding-top:20px;
        }
}
@media (min-aspect-ratio: 23/9){

    #bildmobil {display:none;}
#bild {
    left: 50%;
    transform: translate(-50%, -50%);
    top:53%;
height:80%;
position:fixed;
z-index:-1;
}
h1 {
    z-index:4;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    top:-1%;
    letter-spacing:0.3em;
    font-size:3.5em;
    font-family: arial;
}
h2 {
    font-size:2.4em ;
    text-align:justify;
}
h3 {
    display:none;
}
#text {
position:absolute;
z-index:3;
left:56%;
right:34%;
top:20%;
color:white;
text-overflow:hidden;


}

p1 {
    text-align:justify;
    font-size:1.55em;
    z-index:2;
    font-family:arial;
    letter-spacing: 0.2em;
    word-spacing: 0.3em;

}
#footer {
    display:none;
}
}